@model ERPv1.ERP.GeneralLedgerModule.AccountCharts.ViewModel.CreateAccountVM

@{
    ViewData["Title"] = "CreateAccount";
}
<form asp-action="CreateAccount">
    <card title="حساب جديد" header-back-ground="bg-primary" text-color="text-white" addational-class="fa-edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="AccountName" class="control-label"></label>
                        <input asp-for="AccountName" class="form-control" />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="AccountNameAr" class="control-label"></label>
                        <input asp-for="AccountNameAr" class="form-control" />
                        <span asp-validation-for="AccountNameAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="AccTypeId" class="control-label"></label>
                        @Html.EditorFor(x => x.AccTypeId, "AccountTypeList", new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="AccTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CurrencyId" class="control-label"></label>
                        @Html.EditorFor(x => x.CurrencyId, "CurrencyList", new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="CurrencyId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="BranchId" class="control-label"></label>
                        @Html.EditorFor(x => x.BranchId, "BranchList", new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="BranchId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <input type="submit" value="حفظ" class="btn btn-primary" />
            <a asp-action="Index" class="float-left">عودة للقائمة</a>
        </div>
    </card>
</form>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
