@model ERPv1.ERP.GeneralLedgerModule.JournalModeule.ViewModel.OpeningTransaction

@using Newtonsoft.Json
@{
    ViewData["Title"] = "NewBalance";
}
@{ string data = JsonConvert.SerializeObject(Model);}

<card title="بيانات القيد" header-back-ground="bg-primary" text-color="text-white" addational-class="fa-edit">
    <div class="container">
        <input type="hidden" data-bind="value:CurrentFinaicialPeriodId" />
        <input type="hidden" data-bind="value:SystemModule" />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>تاريخ القيد</label>
                    <input type="text" class="form-control dateSamll" data-bind="value:TransDate" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>التوصيف</label>
                    <textarea cols="5" rows="5" class="form-control" data-bind="value:TransDesc"></textarea>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</card>

    <card title="قائمة الحسابات" header-back-ground="bg-primary" text-color="text-white" addational-class="fa-edit">
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>
                        رقم الحساب
                    </th>
                    <th>
                        اسم الحساب
                    </th>
                    <th>
                        العملة
                    </th>
                    <th>
                        سعر الصرف
                    </th>
                    <th>
                        مدين
                    </th>
                    <th>
                        دائن
                    </th>

                </tr>
            </thead>
            <tbody data-bind="foreach:TransactionDetails">

                <tr>
                    <td>
                        <span data-bind="text:AccNum"></span>
                    </td>
                    <td>
                        <span data-bind="text:AccountName"></span>
                    </td>
                    <td>
                        <span data-bind="text:CurrecnyAbbr"></span>
                    </td>
                    <td>
                        <span data-bind="text:UsedRate"></span>
                    </td>
                    <td>
                        <input class="form-control" type="text" data-bind="value:Debit,disable:Side()===1" />
                    </td>
                    <td>
                        <input class="form-control" type="text" data-bind="value:Credit,disable:Side() ===0" />
                    </td>

                </tr>

            </tbody>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span data-bind="text:TotalDebit"></span></td>
                    <td><span data-bind="text:TotalCredit"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary" data-bind="click:Save">حفظ</button>
        </div>
    </card>

    @section Scripts{
        <script src="~/lib/knockout/knockout-3.5.0.js"></script>
        <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
        <script src="~/App/OpenBalance.js" asp-append-version="true"></script>
        <script>
      var Journal = new OpeningBalance(@Html.Raw(data));
        ko.applyBindings(Journal);
        </script>

    }
